{% if minio['buckets'] is defined %}
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ minio['app_name'] }}-job-create-buckets"
  namespace: "{{ minio['namespace'] }}"
  labels:
    app: "{{ minio['app_name'] }}"
spec:
  template:
    metadata:
      labels:
        app: "{{ minio['app_name'] }}"
    spec:
      restartPolicy: OnFailure
      volumes:
        - name: minio-configuration
          projected:
            sources:
            - configMap:
                name: "{{ minio['app_name'] }}-cm-create-buckets-script"
            - secret:
                name: "{{ minio['app_name'] }}-{{ teamcity['app_name'] }}-creds-secret"
      containers:
      - name: minio-mc
        image: "{{ minio['mc_image'] }}"
        command: ["/bin/sh", "/config/create_bucket.sh"]
        env:
          - name: MINIO_ENDPOINT
            value: "{{ minio['app_name'] }}"
          - name: MINIO_PORT
            value: "80"
        volumeMounts:
          - name: minio-configuration
            mountPath: /config
{% endif %}