apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ mysql['app_name'] }}-pv"
  namespace: "{{ mysql['namespace'] }}"
spec:
  storageClassName: ""
  claimRef:
    name: "{{ mysql['app_name'] }}-pvc"
    namespace: "{{ mysql['namespace'] }}"
  accessModes:
    - ReadWriteOnce
  mountOptions:
    - nfsvers=4.1
    - lookupcache=positive
  capacity:
    storage: "{{ mysql['data_directory']['nfs_capacity'] }}"
  nfs:
    server: "{{ mysql['data_directory']['nfs_server_ip'] }}"
    path: "{{ mysql['data_directory']['nfs_server_path'] }}"
