apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ mysql['app_name'] }}-pvc"
  namespace: "{{ mysql['namespace'] }}"
spec:
  storageClassName: ""
  volumeName: "{{ mysql['app_name'] }}-pv"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ mysql['data_directory']['nfs_capacity'] }}"
