apiVersion: v1
kind: Secret
metadata:
  name: "{{ mysql['app_name'] }}-secret"
  namespace: "{{ mysql['namespace'] }}"
type: Opaque
data:
  root_password: "{{ mysql['root_password'] | b64encode }}"
  db_password: "{{ teamcity['external_database']['db_password'] | b64encode }}"
