apiVersion: v1
kind: Service
metadata:
  name: "{{ teamcity['app_name'] }}-svc"
  namespace: "{{ teamcity['namespace'] }}"
  labels:
    app: "{{ teamcity['app_name'] }}-svc"
spec:
  ports:
    - name: http
      port: 80
      targetPort: 8111
      protocol: TCP
  selector:
    app: "{{ teamcity['app_name'] }}"
