apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: "{{ teamcity['app_name'] }}-ingress"
  namespace: "{{ teamcity['namespace'] }}"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - http:
        paths:
          - path: /
            backend:
              serviceName: "{{ teamcity['app_name'] }}-svc"
              servicePort: 80
          - path: /maintenance/primary
            backend:
              serviceName: "{{ teamcity['app_name'] }}-svc-0"
              servicePort: 80
{% for i in range(teamcity['secondary_nodes_replicas']) %}
          - path: /maintenance/secondary/{{ i }}
            backend:
              serviceName: "{{ teamcity['app_name'] }}-secondary-{{ i }}"
              servicePort: 80
{% endfor %}