apiVersion: v1
kind: Secret
metadata:
  name: "{{ teamcity['app_name'] }}-secret-mysql"
  namespace: "{{ teamcity['namespace'] }}"
type: Opaque
stringData:
  database.properties: |-
    connectionProperties.user={{ teamcity['external_database']['db_user'] }}
    connectionProperties.password={{ teamcity['external_database']['db_password'] }}
    connectionUrl=jdbc:mysql://{{ mysql['app_name'] }}-0.{{ mysql['app_name'] }}.{{ mysql['namespace'] }}.svc:3306/{{ teamcity['external_database']['db_name'] }}